fastapi
uvicorn
python-multipart
pymupdf
python-docx
pytesseract
pillow
sentence-transformers
langchain
langchain-community
langchain-experimental
langchain-huggingface
langchain-chroma
langchain-google-genai
chromadb
pypdf
docx2txt
datasets
python-dotenv
langgraph
langchain-core
reportlab